finagro 2017: https://www.datos.gov.co/Agricultura-y-Desarrollo-Rural/Colocaciones-De-Credito-Sector-Agropecuario-2017/izjc-stkw

finagro 2018: https://www.datos.gov.co/Agricultura-y-Desarrollo-Rural/Colocaciones-De-Credito-Sector-Agropecuario-2018/at2h-vgdd

finagro 2019: https://www.datos.gov.co/Agricultura-y-Desarrollo-Rural/Colocaciones-de-Credito-Sector-Agropecuario-2019/bqhx-t7cn

In [1]:
import numpy as np
import pandas as pd

Las bases de datos se encuentran en el drive.

In [43]:
df17 = pd.read_csv('finagro_2017.csv')
df18 = pd.read_csv('finagro_2018.csv')
df19 = pd.read_csv('finagro_2019.csv')

[df17.shape, df18.shape, df19.shape]

[(445437, 20), (414982, 20), (413733, 20)]

In [44]:
df19.columns

Index([u'Año', u'Mes', u'fuente Colocacion', u'Tipo Productor',
       u'Valor Inversion', u'Colocacion', u'Departamento Inversion',
       u'Municipio Inversion', u'Municipio de PostConflico?',
       u'Departamento de Colocacion de Credito',
       u'Municipio Colocacion de Credito', u'Plazo', u'Linea de Credito',
       u'Linea de Produccion', u'Destino de Credito', u'Genero', u'% FAG',
       u'Vlr Inic Garantia', u'LATITUD', u'CANTIDAD'],
      dtype='object')

In [53]:
prod17 = df17['Linea de Produccion'].value_counts().sort_index()
prod18 = df18['Linea de Produccion'].value_counts().sort_index()
prod19 = df19['Linea de Produccion'].value_counts().sort_index()
prod = pd.DataFrame(zip(prod19.index, prod17.values, prod18.values, prod19.values),
             columns = ['Linea - Produccion', '2017', '2018', '2019'])
prod['Tipo'] = prod['Linea - Produccion'].apply(lambda x: str(x)[-4:])
prod.groupby(['Tipo', 'Linea - Produccion'])['2017', '2018', '2019'].sum()

                                        2017   2018   2019
Tipo Linea - Produccion
 (I) ACTIVIDADES RURALES (I)             259    287    382
     COMERCIALIZACION (I)               3485   5471   5010
     COMPRA DE ANIMALES (I)            66456  77890  74483
     INFRAEST Y ADECU DE TIERRAS (I)   17477  20633  21713
     MAQUINARIA Y EQUIPO (I)            4550   5528   4859
     OTRAS ACTIVIDADES (I)              4004   3424   4535
     SERVICIOS DE APOYO  (I)             793    863   1098
     SIEMBRAS (I)                      95516  98263  81300
 (N) CONSOLIDACION DE PASIVOS (N)      40525   1545    740
(CT) ACTIVIDADES RURALES (CT)            567    826   1073
     COMERCIALIZACION (CT)              4613   4229   5700
     MICROCREDITO (CT)                104755  64594  77587
     PRODUCCIÓN (CT)                   17325  17867  19532
     SERVICIOS DE APOYO (CT)            2384   3330   5241
     SOSTENIMIENTO (CT)                43261  69431  70953
     TARJETA DE CREDITO (CT)           39467  40801  39527

In [51]:
dep17 = df17['Departamento Inversion'].value_counts().sort_index()
dep18 = df18['Departamento Inversion'].value_counts().sort_index()
dep19 = df19['Departamento Inversion'].value_counts().sort_index()
dep = pd.DataFrame(zip(dep19.index, dep17.values, dep18.values, dep19.values),
             columns = ['departamento', '2017', '2018', '2019'])
dep

          departamento   2017   2018   2019
0             AMAZONAS      7      8      9
1            ANTIOQUIA  41313  42261  42185
2               ARAUCA   3181   3379   3426
3            ATLANTICO   2997   1826   2558
4          BOGOTA D.E.   7187   7993   7728
5              BOLIVAR   8854   6085   7501
6               BOYACA  38177  39314  41767
7               CALDAS  16388  16229  15399
8              CAQUETA   6976   6806   6361
9             CASANARE   6632   6949   6879
10               CAUCA  31568  27349  23971
11               CESAR   7312   5408   5850
12               CHOCO   2640   1663   1451
13             CORDOBA  16225  12481  15355
14        CUNDINAMARCA  36186  36117  38257
15             GUAINIA    143     72     40
16             GUAJIRA   3805   2845   3528
17            GUAVIARE   1127   1091   1291
18               HUILA  32684  35381  32563
19           MAGDALENA   6699   4801   5619
20                META  13176  12427  11764
21              NARIÑO  40913  33727  34080
22  NORTE DE SANTANDER  14212  13326  12447
23            PUTUMAYO   6362   5527   5269
24             QUINDIO   3968   3603   3462
25           RISARALDA   9607   8630   8202
26          SAN ANDRES     78     58     47
27           SANTANDER  28465  26762  27114
28               SUCRE   7991   5183   6512
29              TOLIMA  32380  31825  27117
30               VALLE  17796  15444  15535
31              VAUPES    154    125     98
32             VICHADA    234    287    348

In [83]:
destino17 = df17['Destino de Credito'].value_counts().sort_index().index
destino18 = df18['Destino de Credito'].value_counts().sort_index().index
destino19 = df19['Destino de Credito'].value_counts().sort_index().index
destino = pd.concat([pd.DataFrame(destino17), pd.DataFrame(destino18), pd.DataFrame(destino19)])[0].value_counts().sort_index()
destino

124000 AJÍ TABASCO                                                 1
129978 CAPITAL DE TRABAJO AGROPECUARIO RURAL                       1
152000 AGUACATE HASS                                               1
191000 PRIMA SEGURO AGROPECUARIO                                   2
253061 RETENCION DE VIENTRES GANADO BOVINO - RETENCIÓN VIENTRES    1
ACHIRA                                                             3
ACUICULTURA - INVERSIÓN                                            3
ACUICULTURA Y CANARICULTURA                                        3
ADECUACION TIERRAS PARA ACTIV. AGRICOLA                            3
ADECUACION TIERRAS PARA ACTIV. PECUARIO                            3
ADECUACIÓN TIERRAS ACT.PESQUERA Y ACUÍCO                           3
AGUACATE                                                           3
AHUYAMA - PRODUCCIÓN                                               3
AJI                                                                3
AJO                                                                3
AJONJOLI - PRODUCCIÓN                                              3
ALGODON                                                            3
ANIMALES DE LABOR                                                  3
ANTICIPO A PRODUCTORES                                             3
APICULTURA                                                         3
APROVECHAMIENTO DE BOSQUES                                         3
ARANDANO - SIEMBRA                                                 3
ARRACACHA                                                          3
ARROZ RIEGO                                                        3
ARROZ SECANO                                                       3
ARVEJA                                                             3
ASISTENCIA TECNICA                                                 3
AVICULTURA DE ENGORDE                                              3
BADEA                                                              3
BANANITO - SOSTENIMIENTO                                           1
                                                                  ..
SOYA - PRODUCCIÓN                                                  3
TABACO NEGRO - PRODUCCIÓN                                          3
TABACO RUBIO - PRODUCCIÓN                                          3
TALLERES DE REPARACION                                             2
TARJETA AGROPECUARIA                                               3
TOMATE                                                             3
TOMATE DE ARBOL                                                    3
TOROS REPRODUCTORES COMERCIALES                                    3
TOROS REPRODUCTORES PUROS                                          3
TRACTORES                                                          3
TRANSFORMACION METALES, PIEDRAS PRECIOSA                           2
TRANSP. ESPCLZDO - SERVICIOS APOYO                                 3
TRANSP. ESPCLZDO -TRANSF. Y CMRCLZACIÓN                            3
TRANSP. NO ESPCLZDO - SERVICIOS APOYO                              3
TRANSP. NO ESPCLZDO-TRANSF. Y CMRCLZCIÓN                           3
TRAPICHES PANELEROS-CONSTRUCCIÓN                                   3
TURISMO RURAL                                                      3
UCHUVA                                                             3
UNIDADES Y REDES DE FRIO                                           3
VID                                                                3
VIENTRES BOVINOS CRIA Y DOBLE PROPOSITO                            3
VIENTRES BÚFALOS                                                   3
VIENTRES COMERCIALES BOVINOS LECHE                                 3
VIVEROS                                                            3
YUCA                                                               3
YUCA AIS                                                           1
ZANAHORIA                                                          3
ZOOCRIA                                                            1
ZOOCRIADEROS                                                       2
ÑAME                                                               3
Name: 0, Length: 355, dtype: int64

In [86]:
'aguacate' in destino.index.str.lower()

True