In [1]:
# Import required libraries
import numpy as np
import math
import datetime as dt
import pandas as pd
import pathlib

In [80]:
# Load data
# get relative data folder
PATH = pathlib.Path('./data').parent
DATA_PATH = PATH.joinpath("data").resolve()
PIDAR = pd.read_csv(DATA_PATH.joinpath("pidar.csv"))
AT = pd.read_csv(DATA_PATH.joinpath("DS_Asistencia_Tecnica.csv"))
EVA = pd.read_csv(DATA_PATH.joinpath('EVA_cultivos_modificado.csv'))
url = 'https://raw.githubusercontent.com/ds4a-team-envigado/project/master/Dashboard/VERSION%202/data/AP_SABANAGENERAL.csv'
SG = pd.read_csv(url, index_col=0,sep=";",encoding='latin-1')
dfs = [PIDAR,AT,EVA,SG]

In [100]:
# #Agrupar por departamtento cada una de las columnas
dff = EVA.groupby(['DEPARTAMENTO','YEAR','CADENA_PRODUCTIVA_ADR']).sum().reset_index()
dff.head()

,DEPARTAMENTO,YEAR,CADENA_PRODUCTIVA_ADR,COD_DEP,COD_MUN,AREA_SEMBR,AREA_COSECH,PRODUCCION,RENDIMIENTO,NIVEL,ID_ADR
0,AMAZONAS,2006,ARROZ,273,274339,11,11,16,4.35,9,37527
1,AMAZONAS,2006,MAIZ,455,457151,204,203,468,7.86,15,62520
2,AMAZONAS,2007,ACHICORIA,182,182541,6,6,6,2.00,6,21610
3,AMAZONAS,2007,AHUYAMA,91,91540,10,10,38,3.80,3,11213
4,AMAZONAS,2007,AJI,182,182541,28,28,35,2.50,6,22418

In [101]:
PIDAR.head()

,Unnamed: 0,Unnamed: 0.1,BP,No. VP,Nombre Proyecto,Departamento,Municipio,Total beneficiarios,Hombres,Mujeres,...,Valor Contrapartida,Valor total proyecto,Hectáreas,Resolución,Fecha resolución,Vigencia,Lineamiento de consejo directivo,AP_ID_ADR,AP_CADENA_PRODUCTIVA_ADR,TITULO
0,5,5,6,6,Mejorar las capacidades técnicas de adecuación...,CHOCO,CARMEN DEL DARIÉN,35,30,5,...,513500000,763500000,100,1219,06/29/2017 12:00:00 AM,2017,NaN,1,AGRICOLA,mejorar las capacidades técnicas de adecuación...
1,16,16,17,17,Fortalecer la capacidad productiva y manejo de...,META,MESETAS,40,31,9,...,106600000,606600000,40,1250,07/12/2017 12:00:00 AM,2017,NaN,1,AGRICOLA,fortalecer la capacidad productiva manejo de p...
2,19,19,20,20,Fortalecer la productividad y competitividad d...,NORTE DE SANTANDER,TIBÚ,46,31,15,...,351466000,604251478,92,1453,10/12/2017 12:00:00 AM,2017,NaN,1,AGRICOLA,fortalecer la productividad competitividad de ...
3,22,22,23,23,Fortalecer la cadena productiva de café y plát...,ANTIOQUIA,DABEIBA,25,20,5,...,355140000,756513250,69,1351,08/28/2017 12:00:00 AM,2017,NaN,1,AGRICOLA,fortalecer la cadena productiva de café plátan...
4,24,24,25,25,Fortalecimiento de la productividad del cultiv...,META,LA MACARENA,28,16,12,...,41570000,296570000,93,1401,09/19/2017 12:00:00 AM,2017,NaN,1,AGRICOLA,fortalecimiento de la productividad del cultiv...

In [102]:
EVA.head()

,COD_DEP,DEPARTAMENTO,COD_MUN,MUNICIPIO,GRUP_CULTIVO,SUBGRUP_CULTIVO,CULTIVO,DESAGREGACION_SIST_PRODUCTIVO,YEAR,PERIODO,AREA_SEMBR,AREA_COSECH,PRODUCCION,RENDIMIENTO,ESTADO_PRODUCCION,NOMBRE_CIENTI,CICLO_CULTIVO,CADENA_PRODUCTIVA_ADR,NIVEL,ID_ADR
0,15,BOYACA,15114,BUSBANZA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,2,1,1,1.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO,ACELGA,3,10807
1,25,CUNDINAMARCA,25754,SOACHA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,82,80,1440,18.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO,ACELGA,3,10807
2,25,CUNDINAMARCA,25214,COTA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,2,2,26,17.33,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO,ACELGA,3,10807
3,54,NORTE DE SANTANDER,54405,LOS PATIOS,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,3,3,48,16.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO,ACELGA,3,10807
4,54,NORTE DE SANTANDER,54518,PAMPLONA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,1,1,5,10.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO,ACELGA,3,10807

## Preprocesamiento

In [134]:
import gzip
import json
import string

import nltk # imports the natural language toolkit
import pandas as pd
import plotly as px
import matplotlib as plt

import nltk # imports the natural language toolkit
nltk.download('punkt')
nltk.download('stopwords')
import pandas as pd
import numpy  as np
import string
import plotly
from nltk.stem import PorterStemmer 
from sklearn.feature_extraction.text import CountVectorizer

import io 
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

vec = CountVectorizer()

nltk.download('punkt')

CP_ADR = EVA['CADENA_PRODUCTIVA_ADR'].unique()

[nltk_data] Downloading package punkt to C:\Users\Carlos Loaiza
[nltk_data]     Velez\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Carlos Loaiza
[nltk_data]     Velez\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Carlos Loaiza
[nltk_data]     Velez\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [107]:
def clean_text(text):
    # lower text
    text = text.lower()
    # tokenize text and remove puncutation
    text = [word.strip(string.punctuation) for word in text.split(" ")]
    # remove words that contain numbers
    text = [word for word in text if not any(c.isdigit() for c in word)]
    # remove stop words
    stop = stopwords.words('english')
    text = [x for x in text if x not in stop]
    # remove empty tokens
    text = [t for t in text if len(t) > 0]
    # remove words with only one letter
    text = [t for t in text if len(t) > 1]
    # join all
    text = " ".join(text)
    return(text)

In [116]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    
    s = s.upper()
    return s

In [37]:
# import re
# from unicodedata import normalize

# word_list = []

# for sentence in PIDAR['Nombre Proyecto']:
#     word_list = word_list + re.split(r',', sentence)
    
# word_list2 = []
# for word in word_list:
#     word = word.lstrip().rstrip().upper()
#     word = re.sub(r"([^n\u0300-\u036f]|n(?!\u0303(?![\u0300-\u036f])))[\u0300-\u036f]+", r"\1", normalize( "NFD", word), 0, re.I)
#     word_list2.append(word)

# word_list2 = list(dict.fromkeys(word_list2))
# word_list2.sort()

In [108]:
# clean text data
PIDAR['TITULO'] = PIDAR['Nombre Proyecto'].apply(lambda x: clean_text(x))

In [144]:
new_df_PIDAR = []
for i in PIDAR['Nombre Proyecto'].unique():
    list_w = i.split(" ")
    temp = PIDAR[PIDAR['Nombre Proyecto']==i].copy()
    for j in list_w:
        w = normalize(j)
        if w in CP_ADR:
            temp['CP_ADR']=w
            new_df_PIDAR.append(temp)
            
new_df_PIDAR=pd.concat(new_df_PIDAR)
new_df_PIDAR.shape

(83, 25)

In [148]:
len(new_df_PIDAR['BP'].unique())

63

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html?highlight=merge