## Exportaciones Colombia

In [1]:
import pandas as pd
import numpy as np

In [100]:
df_1 = pd.read_csv('Exportaciones 201503-201609.csv', sep=';')
df_2 = pd.read_csv('Exportaciones 201610-201804.csv', sep=';')
df_3 = pd.read_csv('Exportaciones 201805-201912.csv', sep=';')

In [101]:
df_1=pd.melt(df_1, id_vars=['Código', 'Descripción del producto'], var_name='Mes')
df_2=pd.melt(df_2, id_vars=['Código', 'Descripción del producto'], var_name='Mes')
df_3=pd.melt(df_3, id_vars=['Código', 'Descripción del producto'], var_name='Mes')

df=pd.concat([df_1, df_2, df_3])

In [102]:
df['Mes']=df['Mes'].apply(lambda x: x.replace('Valor exportado en ', '').replace('-M', ''))
df['Código']=df['Código'].apply(lambda x: x.replace("'", ""))

In [103]:
df=df.reset_index(drop=True)

In [104]:
df

,Código,Descripción del producto,Mes,value
0,090111,Café sin tostar ni descafeinar,201503,207262
1,060319,"Flores frescas y capullos, cortados, de una, p...",201503,67287
2,080390,Plátanos frescos o secos (plátanos excl.),201503,80293
3,060312,"Claveles ""flores y capullos"", cortados para ra...",201503,15017
4,060311,"Rosas ""flores y capullos"", cortadas para ramos...",201503,49031
...,...,...,...,...
17047,140300,"Sorgo, piasava, grama, ixtle ""tampico"" y demás...",201912,0
17048,140410,Materias primas vegetales de las especies util...,201912,0
17049,140420,Línteres de algodón,201912,0
17050,180200,"Cáscara, películas y demás desechos de cacao",201912,0
17051,180320,"Pasta de cacao, desgrasada total o parcialmente",201912,0