### Importing all the dependencies

In [2]:
import pandas as pd

### Reading the data

In [3]:
data = pd.read_csv("data/Evaluaciones_Agropecuarias_Municipales_EVA.csv")

In [4]:
data.head()

,CÓD. \nDEP.,DEPARTAMENTO,CÓD. MUN.,MUNICIPIO,GRUPO \nDE CULTIVO,SUBGRUPO \nDE CULTIVO,CULTIVO,DESAGREGACIÓN REGIONAL Y/O SISTEMA PRODUCTIVO,AÑO,PERIODO,Área Sembrada\n(ha),Área Cosechada\n(ha),Producción\n(t),Rendimiento\n(t/ha),ESTADO FISICO PRODUCCION,NOMBRE \nCIENTIFICO,CICLO DE CULTIVO
0,15,BOYACA,15114,BUSBANZA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,2,1,1,1.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
1,25,CUNDINAMARCA,25754,SOACHA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,82,80,1440,18.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
2,25,CUNDINAMARCA,25214,COTA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,2,2,26,17.33,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
3,54,NORTE DE SANTANDER,54405,LOS PATIOS,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,3,3,48,16.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
4,54,NORTE DE SANTANDER,54518,PAMPLONA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,1,1,5,10.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO

### Changing the column names

In [5]:
data.columns = ['COD_DEP', 'DEPARTAMENTO', 'COD_MUN','MUNICIPIO','GRUP_CULTIVO','SUBGRUP_CULTIVO','CULTIVO','DESAGREGACION_SIST_PRODUCTIVO','YEAR','PERIODO','AREA_SEMBR','AREA_COSECH','PRODUCCION','RENDIMIENTO','ESTADO_PRODUCCION','NOMBRE_CIENTI','CICLO_CULTIVO']

In [6]:
data.head()

,COD_DEP,DEPARTAMENTO,COD_MUN,MUNICIPIO,GRUP_CULTIVO,SUBGRUP_CULTIVO,CULTIVO,DESAGREGACION_SIST_PRODUCTIVO,YEAR,PERIODO,AREA_SEMBR,AREA_COSECH,PRODUCCION,RENDIMIENTO,ESTADO_PRODUCCION,NOMBRE_CIENTI,CICLO_CULTIVO
0,15,BOYACA,15114,BUSBANZA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,2,1,1,1.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
1,25,CUNDINAMARCA,25754,SOACHA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,82,80,1440,18.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
2,25,CUNDINAMARCA,25214,COTA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,2,2,26,17.33,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
3,54,NORTE DE SANTANDER,54405,LOS PATIOS,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,3,3,48,16.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
4,54,NORTE DE SANTANDER,54518,PAMPLONA,HORTALIZAS,ACELGA,ACELGA,ACELGA,2006,2006B,1,1,5,10.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO

### Describing the data

In [7]:
data.describe()

,COD_DEP,COD_MUN,YEAR,AREA_SEMBR,AREA_COSECH,PRODUCCION,RENDIMIENTO
count,206068.000000,206068.000000,206068.000000,206068.000000,206068.000000,2.060680e+05,202635.000000
mean,40.322563,40747.534066,2012.455976,291.073825,249.419522,2.790726e+03,9.238820
std,25.278662,25256.621906,3.479113,1153.602556,980.375226,4.511471e+04,14.888659
min,5.000000,5001.000000,2006.000000,0.000000,0.000000,0.000000e+00,0.030000
25%,17.000000,17524.000000,2009.000000,10.000000,8.000000,3.200000e+01,1.500000
50%,41.000000,41357.000000,2013.000000,35.000000,30.000000,1.400000e+02,5.000000
75%,68.000000,68001.000000,2015.000000,151.000000,130.000000,6.480000e+02,11.230000
max,99.000000,99773.000000,2018.000000,47403.000000,38600.000000,4.546116e+06,246.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206068 entries, 0 to 206067
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   COD_DEP                        206068 non-null  int64
 1   DEPARTAMENTO                   206068 non-null  object
 2   COD_MUN                        206068 non-null  int64
 3   MUNICIPIO                      206067 non-null  object
 4   GRUP_CULTIVO                   206068 non-null  object
 5   SUBGRUP_CULTIVO                206068 non-null  object
 6   CULTIVO                        206068 non-null  object
 7   DESAGREGACION_SIST_PRODUCTIVO  206068 non-null  object
 8   YEAR                           206068 non-null  int64
 9   PERIODO                        206068 non-null  object
 10  AREA_SEMBR                     206068 non-null  int64
 11  AREA_COSECH                    206068 non-null  int64
 12  PRODUCCION                     206068 non-null  int64
 13  RENDIMIENTO                    202635 non-null  float64
 14  ESTADO_PRODUCCION              206068 non-null  object
 15  NOMBRE_CIENTI                  203211 non-null  object
 16  CICLO_CULTIVO                  206068 non-null  object
dtypes: float64(1), int64(6), object(10)
memory usage: 26.7+ MB

### Rendimiento de cultivos por departamento:

In [9]:
rendimiento_dep = data.groupby('DEPARTAMENTO').RENDIMIENTO.agg(['count','min','max','mean'])
rendimiento_dep.sort_values('mean',ascending=False).head(10)

                    count   min     max       mean
DEPARTAMENTO
RISARALDA            2761  0.10  158.43  14.872112
VALLE DEL CAUCA     15633  0.05  200.69  13.961407
CALDAS               5273  0.14  156.07  11.795316
QUINDIO              3818  0.15  180.00  11.588499
ANTIOQUIA           18165  0.03  240.00  11.403534
NORTE DE SANTANDER   9638  0.11  150.00  10.794193
META                 5059  0.20  100.00  10.478982
CUNDINAMARCA        17554  0.06  210.00  10.319582
BOYACA              20383  0.07  200.00   9.929606
ARAUCA                830  0.60   30.00   9.345602

### Rendimiento de cultivo

In [10]:
rendimiento_cult = data.groupby('CULTIVO').RENDIMIENTO.agg(['count','min','max','mean'])
rendimiento_cult.sort_values('mean',ascending=False).head(10)

                 count    min     max        mean
CULTIVO
CAÑA AZUCARERA     619  48.17  200.69  117.301389
TOMATE            9641   0.50  246.00   38.291158
CHAMPIÑON           11   2.00   60.00   34.181818
PIÑA              2125   0.24  184.00   28.946936
SABILA             238   1.00  100.00   28.369622
MAIZ FORRAJERO     234   1.42   87.27   28.225983
CHAMBA              24   0.50   50.00   27.537500
CEBOLLIN            14   6.00   50.00   25.642857
CORDELINE CINTA      4  25.00   25.00   25.000000
FRESA              691   1.00   90.00   24.435326

### Cuantos cultivos hay?

In [11]:
rendimiento_cult.count()

count    223
min      220
max      220
mean     220
dtype: int64

## Preguntas que se pueden responder con este dataset:

1. Cuales son los cultivos más propicios a dar un buen rendimiento?
2. Cuales son los departamentos y municipios donde hay mayor rendimiento?
3. Con esto se podrían definir X cultivos que pueden ser aceptados de acuerdo con su rendimiento y el municipio donde se presenta el proyecto

### por ejemplo, cuales son los 10 cultivos más propicios para cultivar en Marinilla-Antioquia?

In [12]:
rendimiento_marinilla = data[data.MUNICIPIO == "MARINILLA"].groupby('CULTIVO').RENDIMIENTO.agg(['count','min','max','mean'])
rendimiento_marinilla.sort_values('mean',ascending=False).head(10)

           count   min    max       mean
CULTIVO
REPOLLO       24  68.0  70.90  69.870833
CALABACIN      5  60.0  61.20  60.418000
TOMATE        24  20.0  86.82  49.369167
ZANAHORIA     24  26.0  30.24  29.593333
LECHUGA       24  27.0  30.00  28.042500
ACELGA         5  27.0  28.10  27.356000
COLIFLOR      24  24.0  27.00  25.109583
BROCOLI       24  20.0  27.00  23.642917
APIO          24  21.0  23.00  22.476250
REMOLACHA     24  19.0  24.00  21.847500