# Caracterización de Proyectos Integrales de Desarrollo Agropecuario y Rural (PIDAR)

Presenta la relación histórica de los Proyectos Integrales de Desarrollo Agropecuario y Rural (PIDAR), financiados por la Agencia de Desarrollo Rural (ADR)

[Datos](https://www.datos.gov.co/Agricultura-y-Desarrollo-Rural/Caracterizaci-n-de-Proyectos-Integrales-de-Desarro/hf52-jghk):


![Broad Street Map](data/header_pidar.png)

In [48]:
import pandas as pd 


df = pd.read_csv('data/pidar.csv')

df.columns

Index(['BP', 'No. VP', 'Nombre Proyecto', 'Departamento', 'Municipio',
       'Total beneficiarios', 'Hombres', 'Mujeres', 'Total Víctimas',
       'Valor cofinanciado ADR', 'Valor encargo fiduciario',
       'Valor total cofinanciación ADR', 'Valor Contrapartida',
       'Valor total proyecto', 'Hectáreas', 'Resolución', 'Fecha resolución',
       'Vigencia', 'Lineamiento de consejo directivo'],
      dtype='object')

In [49]:
df.shape

(232, 19)

## Columnas

In [50]:
df.head()

,BP,No. VP,Nombre Proyecto,Departamento,Municipio,Total beneficiarios,Hombres,Mujeres,Total Víctimas,Valor cofinanciado ADR,Valor encargo fiduciario,Valor total cofinanciación ADR,Valor Contrapartida,Valor total proyecto,Hectáreas,Resolución,Fecha resolución,Vigencia,Lineamiento de consejo directivo
0,1,1,Implementar un sistema de ganadería silvopasto...,CAQUETA,SAN VICENTE DEL CAGUÁN,46,26,20,0,534000000,NaN,534000000,115640000,649640000,40,1220,06/29/2018 12:00:00 AM,2017,NaN
1,2,2,Fortalecimiento del cultivo de arroz y caña pa...,NARIÑO,SAN ANDRÉS DE TUMACO,19,7,12,0,185000000,NaN,185000000,265082460,450082460,64,1234,07/06/2017 12:00:00 AM,2017,NaN
2,3,3,Implementar un modelo piscícola para la produc...,CAQUETA,SAN VICENTE DEL CAGUÁN,52,36,16,31,905900513,NaN,905900513,104748820,1010649333,1,1322,08/15/2017 12:00:00 AM,2017,NaN
3,4,4,Mejorar las capacidades productivas para la ag...,MAGDALENA,ZONA BANANERA,150,121,29,0,2948347650,NaN,2948347650,665760350,3614108000,411,1307,08/04/2017 12:00:00 AM,2017,NaN
4,5,5,Mejorar las capacidades productivas de 97 fami...,CAUCA,BUENOS AIRES,97,76,21,0,500000000,NaN,500000000,581106000,1081106000,98,1215,06/29/2017 12:00:00 AM,2017,NaN

In [52]:
gp_by_department = df.groupby('Departamento')['BP'].count().sort_values(ascending=False).to_frame().reset_index() 
gp_by_department

gp_by_valor = df.groupby('Departamento')['Valor cofinanciado ADR'].sum().sort_values(ascending=False).sort_values(ascending=False).to_frame().reset_index() 
gp_by_valor



gp_b = df.groupby('Departamento')['Total beneficiarios'].sum().sort_values(ascending=False).sort_values(ascending=False).to_frame().reset_index() 
gp_b

df_merged = pd.merge(gp_by_department, gp_b)

df_merged2 = pd.merge(df_merged, gp_by_valor)

          Departamento  BP  Total beneficiarios  Valor cofinanciado ADR
0               NARIÑO  24                 2564             24137357733
1            ANTIOQUIA  17                 1420             13746800504
2                 META  17                 1592             17966182798
3                HUILA  13                  601              5411047240
4                CHOCO  12                 1071              6395084735
5                CESAR  12                 1378             20417967492
6                CAUCA  12                 1932             15431716770
7              CAQUETA  10                  546              5640060513
8              BOLIVAR  10                 1406             18293154276
9              CORDOBA  10                  828              8823799586
10           MAGDALENA   9                 1434             20644201170
11        CUNDINAMARCA   8                 1074             11756933098
12  NORTE DE SANTANDER   8                  617              9188503892
13              TOLIMA   8                  641              2941476057
14              BOYACA   7                  756              8822237189
15              CALDAS   7                 1048              6337227971
16               SUCRE   6                  705             10650818892
17           ATLANTICO   4                  571              6116639600
18          LA_GUAJIRA   4                  352              5858537097
19            GUAVIARE   4                  255              3052924000
20              ARAUCA   3                  133              2625468760
21             VICHADA   3                  488              6821194000
22      N_DE_SANTANDER   3                  172              1504385478
23            PUTUMAYO   3                  275              1882306000
24      SUCRE, BOLÍVAR   2                  544              7883076900
25     VALLE DEL CAUCA   2                  413              7285975997
26            CASANARE   2                   88               968366600
27             QUINDIO   2                  445               990468347
28             BOLÍVAR   2                  154              1473438158
29           SANTANDER   2                  165              2513371423
30              VAUPES   1                   50               461961900
31     VALLE_DEL_CAUCA   1                  116              1399982156
32              BOYACÁ   1                  241              1571900000
33           RISARALDA   1                  196              1999978494
34          SAN_ANDRES   1                   90               755870000
35    GUAINÍA\nVICHADA   1                   90               731834400

          Departamento  Valor cofinanciado ADR
0               NARIÑO             24137357733
1            MAGDALENA             20644201170
2                CESAR             20417967492
3              BOLIVAR             18293154276
4                 META             17966182798
5                CAUCA             15431716770
6            ANTIOQUIA             13746800504
7         CUNDINAMARCA             11756933098
8                SUCRE             10650818892
9   NORTE DE SANTANDER              9188503892
10             CORDOBA              8823799586
11              BOYACA              8822237189
12      SUCRE, BOLÍVAR              7883076900
13     VALLE DEL CAUCA              7285975997
14             VICHADA              6821194000
15               CHOCO              6395084735
16              CALDAS              6337227971
17           ATLANTICO              6116639600
18          LA_GUAJIRA              5858537097
19             CAQUETA              5640060513
20               HUILA              5411047240
21            GUAVIARE              3052924000
22              TOLIMA              2941476057
23              ARAUCA              2625468760
24           SANTANDER              2513371423
25           RISARALDA              1999978494
26            PUTUMAYO              1882306000
27              BOYACÁ              1571900000
28      N_DE_SANTANDER              1504385478
29             BOLÍVAR              1473438158
30     VALLE_DEL_CAUCA              1399982156
31             QUINDIO               990468347
32            CASANARE               968366600
33          SAN_ANDRES               755870000
34    GUAINÍA\nVICHADA               731834400
35              VAUPES               461961900

In [38]:
vc = df['Valor cofinanciado ADR'].describe()
vc

count    2.320000e+02
mean     1.131475e+09
std      1.023839e+09
min      9.095862e+07
25%      3.710341e+08
50%      5.831070e+08
75%      1.973922e+09
max      5.661882e+09
Name: Valor cofinanciado ADR, dtype: float64

In [39]:
gp_b= df.groupby('Departamento')['Total beneficiarios'].sum().sort_values(ascending=False).sort_values(ascending=False)
gp_b

Departamento
NARIÑO                2564
CAUCA                 1932
META                  1592
MAGDALENA             1434
ANTIOQUIA             1420
BOLIVAR               1406
CESAR                 1378
CUNDINAMARCA          1074
CHOCO                 1071
CALDAS                1048
CORDOBA                828
BOYACA                 756
SUCRE                  705
TOLIMA                 641
NORTE DE SANTANDER     617
HUILA                  601
ATLANTICO              571
CAQUETA                546
SUCRE, BOLÍVAR         544
VICHADA                488
QUINDIO                445
VALLE DEL CAUCA        413
LA_GUAJIRA             352
PUTUMAYO               275
GUAVIARE               255
BOYACÁ                 241
RISARALDA              196
N_DE_SANTANDER         172
SANTANDER              165
BOLÍVAR                154
ARAUCA                 133
VALLE_DEL_CAUCA        116
GUAINÍA\nVICHADA        90
SAN_ANDRES              90
CASANARE                88
VAUPES                  50
Name: Total beneficiarios, dtype: int64